.actions-menu-wrapper {
    position: absolute;
    pointer-events: none;

    opacity: 0;

    transition: .1s opacity;

    // States
    &.active {
        pointer-events: initial;
        opacity: 1;
    }
}
.actions-menu {
    padding: 6px;
    display: flex;
    align-items: center;
    
    background: $gray;
    border-radius: calc($button-border-radius + 6px);
    border: 2px solid $workspace-background;

    .buttons-group {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: 8px;
            &::after {
                content: "";

                width: 2px;
                height: calc(100% - 4px);

                position: absolute;
                right: -5px;
                top: 2px;
                
                background: rgba(255,255,255, .06);
                border-radius: 2px;
            }
        }

        .context-menu-button {
            width: 34px;
            min-width: 34px;
            height: 34px;
            padding: 0;

            .icon-wrapper {
                margin: 0;
            }
            > span {
                display: none;
            }
        }
    }
}