.text-muted {
    color: rgba(255,255,255,.4);
}
.font-size-medium {
    font-size: $middle-font-size;
}
.font-weight-500 {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}