.content-editable {
    padding: 2px 4px;
    margin: -2px -4px;
    border-radius: $box-border-radius;
    
    // Children
    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, .4);
        
        &:hover {
            background: rgba(255, 255, 255, .6);
        }
    }
    &::after {
        content: attr(data-placeholder);

        position: absolute;
        left: 4px;
        top: 2px;
        
        color: rgba(255,255,255, .5);
        opacity: 0;
        transition: .1s;

        pointer-events: none;
    }

    // States
    &:focus {
        outline: 2px dashed rgba(255, 255, 255, .2) !important;
    }
    &.empty {
        &::after {
            opacity: 1;
        }
    }
}