.dashboard-page {
    height: 100vh;
    padding: 10px;
    
    // Children
    .scrollable {
        width: 100%;
        height: 100%;
        overflow-y: scroll;

        &::-webkit-scrollbar-thumb {
            background: $gray;
        }
    }
    .container {
        width: 100%;
        max-width: 800px;
        padding: 0 10px;
        
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .section {
        &:not(.p-0) {
            padding: 20px;
        }

        .section-title {
            font-size: $extra-large-font-size;
            padding: 16px;
            margin: 0;
            font-weight: 400;
        }
    }
}

.start-screen {
    .illustration {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(calc(-50% - 20px), calc(-50% + 30px));

        .logo {
            font-family: Nunito;
            font-size: 120px;
            font-weight: 500;
    
            display: flex;
            
            transform-origin: left center;
            transform: skewY(-15deg);
        }
        .particle {
            position: absolute;
            left: 0;
            top: 0;
    
            &.star {
                width: 28px;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &.green-star {
                left: -15%;
                top: -10%;
                color: $green;
            }
            &.purple-star {
                left: 85%;
                top: 50%;
                color: $purple;
            }
            &.yellow-star {
                left: 105%;
                top: -60%;
                color: $yellow;
            }
        }

        .splash {
            width: 100%;
            max-width: 200px;
            font-size: 22px;

            position: absolute;
            left: 100%;
            top: 70%;
            text-align: center;

            font-family: Nunito;
            font-weight: 500;
            color: $yellow;
        }
    }
    .bogdanov-logo {
        position: absolute;
        left: 50%;
        bottom: 40px;
        transform: translate(-50%, 0);
        
        
        img {
            image-rendering: pixelated;
            opacity: .2;
        }
    }
}